<form method="post" action="/login">
  <label>Username: </label>
  <input type="text" name="username" value="username">

  <label>Password: </label>
  <input type="text" name="password" value="password">

  <input type="submit" name="Log In" value="Log In">
</form>
